* {
	box-sizing: border-box;
}

html, body {
	margin: 0; width: 100%;
}

header, footer { background-color: purple; color: white;font-family: 'Roboto', sans-serif; 

}

.centered {  width: 70%; margin: auto; padding: 50px; 

}

header .subtitle {

}

h1 {

}

ul {
	display: flex;
	flex-wrap: wrap;
}

ul li {
	width: 50%; 
}

main { 

}

section { width : 60%; margin: auto; font-family: 'Roboto', sans-serif; 

}

h2 { color: purple; 

}

h3 { color: purple; 

}

p { 

}

.details { color : purple;

}

.object { font-weight: 700; 

}

.object:after {
	content: " | ";
}

footer h2 { color: white;


}